# ===== Global settings =====
#APP_DIR=/opt/vmc
VENV_DIR=.venv
ETH_IFACE=eth0
ETH_ADDR=192.168.1.255
ETH_BATCH=192.168.1.92

TPROXY_PORT=19001
MARK=0x1
UDP1=24680
UDP2=24681
SERIALNUM=21

# ===== Access point count =====
AP_COUNT=2

# ===== Access Point 0 =====
AP_0_WLAN_IFACE=wlan0
AP_0_SSID=VMC-WXCVR
AP_0_WIFI_PSK=vehicle1
AP_0_CONNECTION_NAME=VMC-WXCVR
AP_0_SUBNET=10.24.0.0/24

# ===== Access Point 1 =====
#AP_1_WLAN_IFACE=wlan1
#AP_1_SSID=VMC-RALINK
#AP_1_WIFI_PSK=vehicle2
#AP_1_CONNECTION_NAME=VMC-RALINK
#AP_1_SUBNET=10.24.1.0/24
